/* Startpage  Css
   By Dylan Araps */
html,
body,
ul {
  margin: 0;
  padding: 0;
}

 


body {
  background: #FFF0F0;
  height: 100%;
  width: 100%;
}

main {
  display: block;
  font-family: 'Ubuntu Condensed';
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 100%;
}

h1 {
  color: #333333;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 400px;
}

hr {
  border: 0;
  border-top: 1px solid #333333;
  opacity: .4;
  width: 400px;
}

ul {
  display: block;
  margin: 0 auto;
  width: 400px;
}

li {
  color: #333333;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.5;
  list-style: none;
  margin: 5px;
}

a {
  color: #333333;
  text-decoration: none;
  transition: .2s;
}

a:hover {
  color: #666666;
}

#lover_boy
width: 304px;
height: 228px;
top: 45%;
left: 30%;

}


}
